body {
    border-top: 2px solid #0286a0;
    margin: 0px;
    color: #333333;
    font-size: 14px;
    font-family: 微软雅黑, 宋体;
    line-height: 200%;

    h1 {
      font-size:24px;
    }
    
    a {
        color:#0286a0;
        font-weight: normal;
        text-decoration:none;
    }

    a:hover {
        color: #ff7200;
    }

    a small {
        font-size:12px;
        color:#777;
        margin-top:-0.6em;
        display:block;
    }

    .top-banner {
        background: #e2f3f8;
    }
    .wrapper {
        width:1260px;
        margin:0 auto;
        header.main {
            width:300px;
            float:left;
            position:fixed;
            .brand {
                font-size:28px;
                margin: 0px;
                line-height: 200%;
            }
            ul.master {
                padding:0;
                li {
                    list-style:none;
                    display: inline-block;
                    font-size: 16px;
                    font-weight: bold;
                }
            }
            ul.slave {
                padding-left: 10px;
                li {
                    list-style:none;
                }
            }
        }

        section {
            padding-top: 20px;
            float:right;
            padding-bottom:50px;
        }
        section#post {
            width: 660px;
        }
        section#list {
            width: 300px;
            ul {
                padding-left: 50px;
            }
        }
        footer.main {
            width:200px;
            float:left;
            position:fixed;
            bottom:50px;
        }
    }
}

