body {
    color: #333333;
    font-size: 14px;
    font-family: 微软雅黑, 宋体;
    padding: 50px;
    
    a {
        color:#39c;
        font-weight:400;
        text-decoration:none;
    }

    a small {
        font-size:11px;
        color:#777;
        margin-top:-0.6em;
        display:block;
    }

    .wrapper {
        width:960px;
        margin:0 auto;
        header {
            .brand {
                font-size:28px;
            }
        }
    }
}

