doctype html
html
    head
        meta(charset='utf8')
        title='周培公的博客-般若经舍'
        link(rel='stylesheet' type='text/css' href='less/main.less?__inline')
    body
        #top-banner 般若波罗密多
        
        script(type='text/javascript' src='bower_components/almond/almond.js?__inline')
        script(type='text/javascript' src='bower_components/avalon/avalon.modern.js?__inline')
        script(type='text/javascript' src='coffee/main.coffee?__inline')